<center>
    <h1>Proof of Insurance</h1>
    <h3><%= @student.proper_name %></h3>
    <iframe src="<%= @student.proof_of_insurance_url %>" width="100%" height="400px"></iframe>
    <div>
      <div class = "row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
          <%= link_to "Checkoff", proof_of_insurance_checkoff_student_path(@student), html_options = {:class => 'btn btn-success'} %>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
          <%= link_to "Deny", proof_of_insurance_deny_student_path(@student), html_options = {:class => 'btn btn-danger'} %>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
</center>
