<h2>Instructions:</h2><br>
  <p>
    Please fill in your personal information to register with the Project C.H.U.C.K. system. Note that fields with a * next to them are required to complete the registration process.<br>
    Additionally, as your account will be stored with Project C.H.U.C.K., you will set a username and password so that you can log into the application at a later time, if you wish. As such, please pick a username and password that you can rememeber.<br>
    Finally, if a field does not apply do you, please leave the field blank, rather than writing "None", or something similar.<br><br>
    Thank You!<br>
    -The Project C.H.U.C.K. Team
  </p>
  <br>
  <hr>
  <br>