<div class="container well">
    <center><h2>Instructions</h2></center>
    <h3>How to setup a Tournament?</h3>
    <p>To setup a tournament for a given year, create a new tournament, create and add brackets with the requisite age bracket and gender to this tournament, create teams for these brackets and add students to these teams. Then you can schedule games and edit these games to update scores. The steps are as follows:</p>
        <ul>
            <li>Go to the Manage Tourment tab and Create a Tournament</li>
            <li>Enter details in form and create a new tournament</li>
            <li>Go to Manage Tournament tab and Create a new Bracket</li>
            <li>Select the tournament you created, enter details and create required brackets</li>
            <li>Go to Teams tab and add a new team</li>
            <li>Select the correct bracket, enter details and create team</li>
            <li>Once you create a team, it will direct you to the teams page from where you can manage the team (You can also reach this page by clicking the teams tab and then selecting a team)</li>
            <li>On this page you can add coaches, assistant coaches and students to teams (The add students page only allows you to add students who belong to the bracket that the team belongs to)</li>
            <ul><li>Additionally, Students and Coaches can be added to teams from their information pages</li></ul>
            <li>Go to the games tab and click on new game</li>
            <li>Enter date and time of game and select the two teams to create the game (Score can be entered later | Score defaults to 0 if not entered) </li>
            <li>You can edit the scores from the schedule page</li>
            <ul><li>For current and upcoming games edit links are on the page for past games you'll have to click on the date which takes you to a page where you can find the edit link</li></ul>
        </ul>
    <h3>Other tips:</h3>
        <ul>
            <li>You can view and update student/volunteer information by clicking on the students/volunteers tab and selecting a student/volunteer</li>
            <li>You can view additional analytics by clicking on the analytics tab</li>
            <li>You can download data on students, volunteers and roster spots by clicking the download data to excel button on the home page</li>
            <li>For checking off documents:</li>
                <ul>
                    <li>Can access this either through the notifications on the home page or by visting a students page</li>
                    <li>After clicking on checkoff you are taken to a page where you can view the image and either accept or deny</li>
                    <li>If you accept a document by mistake you can go to that students page and click on reset for that document. This means that either the parent or you can upload the correct document which again will need to be checked off</li>
                    <li>Birth Certificate and Proof of insturace will be automatically deleted once checked off while you can still view the Report Card and Physical after checkoff</li>
                </ul>
                <li>The Database tab has links to all the developer functionality on the website (It's just a convenient way to edit things in the database. Hopefully you'll never need this!)</li>
        </ul>
</div>
