<div class="container well">
    <center><h2>Tips</h2></center>
        <ul class="list-group">
            <li class="list-group-item">You can register one or more of your children for Project C.H.U.C.K. by using add student from the home page.</li> 
            <li class="list-group-item">You can view a list of the children you registred for Project C.H.U.C.K. using the My Students tab. By clicking on their name, you are taken to the student info page where you can view their information and you can also find the edit link if you wish to update their information.</li>
            <li class="list-group-item">You do not need to upload the birth certificate, report card, proof of insurance, and physcial while registering. However, your child will NOT be allowed to play unless these documents have been uploaded and checked off by the Project C.H.U.C.K. staff. If you see a green tick next to your child on the My Students tab that means that your child has been cleared to play. If you see a red cross then you need to check the student info page for which documents you need to upload. You can then use the edit student link at the top of the page to upload these documents.</li>
            <li class="list-group-item">You can view and update information about your home address from the home page.</li>
            <li class="list-group-item">You can view and update information about yourself using the view/edit info page.</li>
        </ul>
</div>
