<div class="container">  
  <div class="row">
    <div class="col-sm-6 fixedheight">
  <table class="table table-bordered">
   <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Age</th>
      <th></th>
      <th></th> -->
    </tr>
  </thead> 

  <tbody>
   <% @volunteers.each do |volunteer| %>
   
   <tr>
    <% if volunteer.team.nil? %>
    <td><%= link_to volunteer.proper_name, volunteer %></td>
    <%end%> 
  </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>