<div class="container well">
    <center><h2>Tips</h2></center>
        <ul class="list-group">
            <li class="list-group-item">You can view information of the students on your team by clicking the My Team tag. This list provides a quick way for you to look at their home numbers, their allergies and medications and whether they have been cleared. You can also view more info on each student by clicking their name from this list.</li> 
            <li class="list-group-item">You can view the games schedule and the teams standings using the schedule and standings pages. Information on today's games and the standings for your team's bracket are also visible to you from the home page for convenience.</li>
            <li class="list-group-item">You can view and update information about yourself using the view/edit info page.</li>
        </ul>
</div>
