@media print{
  ul, hr{
    display:none;
  }
  .noprint{
    display:none;
  }
  a:link:after, a:visited:after {
    content: "";
}
}

html  {
        overflow-x: hidden;
    }
*, thead, tbody{
  font-family: 'Open Sans', sans-serif;
 }

 #update{
  font-size: 1.25em;
 }

 #homebutton{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
 } 

 .container .jumbotron{
 background-color: white;
 }

  .jumbotron {
  	height: 200px;
  	margin-top: 0;
  	margin-bottom: 10px;
    padding:0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 1.5em;
    line-height: 1;
  }

  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  /*.field{
    font-size:1.2em;
  }*/
  .reduce{
    width: 75%;
  }

  select{
    text-align: center;
  }

  button{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  }

  .btn{
    /*display:block;*/
    width:100%;
  }

  input.btn{
    /*display:block;*/
    width:100%;
  }

  input{
    width: 90%;
  }

  textarea{
    width: 90%;
  }

  .btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #057ABF;
    color: #057ABF;
}

  .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #F5CF0A;
    border-color: #F5CF0A;
    background-color: #057ABF;
}
.button.tiny{
  font-size: 1.5em;
  color: #057ABF;
}
a.button {
  /*background: transparent url('bg_button_a.gif') no-repeat scroll top right;*/
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
a:hover.ui-link{
  background-color:transparent;
}
#details_name{
  font-size: 2.0em;
}
/*input{
  width:100%;
}*/

body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
    overflow-x: hidden;
}
/*.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}*/

.boy{
  border-left: 2px solid DeepSkyBlue;
/*border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;*/
}

.girl{
  border-left: 2px solid HotPink;
/*border-radius: 10px;*/
/*margin-top: 15px;
margin-bottom: 15px;*/
}

.headerfont{
  font-size: 2.5em;
  float: right;
}

li{
  font-size: 1.3em;
}
hr{
  width: 100%;
}
.widthfit{
  width: 90%;
}
input[type="submit"].btn {
  width: 100%;
}

.fixedheight{
  height:20em;
  overflow: scroll;
}

/* Live Validation styles*/
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
  
.LV_invalid {
    font-size: .75em;
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

.ui-accordion .ui-accordion-content{ 
  overflow:hidden !important; 
}

.heightincrease{
height: 2em;
}

.studentchoice{
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
}

.style_charlie{
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-primary.successbtn:hover{
  background-color: MediumSeaGreen;
}

.btn.btn-primary.cancelbtn:hover{
  background-color: IndianRed;
}

.btn.btn-primary.step{
  border-color: #FFB600;
  border-width: 5px;
}

.btn.removelink{
  color: #ffffff;
  background-color: IndianRed;
  border-color: #d08002;
  width: 90%;
  border-radius: 10px;
}

.btn.addlink{
  color: #fff;
  background-color: #008cba;
  border-color: #008cba;;
  /*background-color: #0070D7;*/
  /*border-color: Black;*/
  width: 40%;
  border-radius: 10px;
}

.btn.addlink:hover{
  color: #fff;
}

li.small{
  font-size: 1.0em;
}

hr.reducebottom{
  margin-bottom:10px;
}

hr.reducetop{
  margin-top:10px;
}

.wrapper {
position:relative;
    margin:0 auto;
    overflow:hidden;
  padding:5px;
    height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}

.list li{
  display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.error{
  position: relative;
  padding-left: .5em;
  color: #CC0000;
}
