<!-- <div class="row">
<div class="col-xs-6 col-sm-6">
  <div class="sigPad">
    <p class="drawItDesc">* Parent: Sign Below</p>
    <ul class="sigNav">
      <li class="drawIt"></li>
      <li class="clearButton"><a href="#clear">Clear</a></li>
    </ul>
    <div class="sig sigWrapper">
      <div class="typed"></div>
      <canvas class="pad" width="398" height="100"></canvas>
      <input type="hidden" name="output" class="output">
    </div>
  </div>
</div>
</div> -->