<div class="row">
	<div class="col-xs-6 col-sm-6">
	<%= image_tag('charlie.gif', :class => "style_charlie") %>
	</div>
	<div class="col-xs-6 col-sm-6">
		<br><br>
		<h3>Please take our survey!</h3>
		<p>
			Thank you for registering! In order to continue to keep our programs free, funders are asking us to conduct a survey.
			So please take a moment to fill out the following <u>anonymous</u> survey in order to keep helping others become
			the Best of the Batch!
		</p>
		<br>

		<div>
			<%= link_to "Click Here for Survey!", "http://www.123contactform.com/form-921242/Project-CHUCK-Parent-Survey", :class => 'btn btn-primary' %>
		</div>
	</div>

</div>